* {
  box-sizing: border-box;
}

body {
  background-color: #23252C;
  display: flex;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #D5D4D8;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

img,
svg {
  display: block;
  font-style: italic;
  height: auto;
  max-width: 100%;
}

.card {
  --border-radius: 1em;
  background-color: #F5F5F5;
  border-radius: var(--border-radius);
  color: #4A4E74;
  font-family: "Inter", sans-serif;
  font-size: 0.65rem;
  width: 31em;
}

.card-face {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 100%;
}

.card-title {
  font-size: 1.5265rem;
  font-weight: 700;
}

.card-title > .card-subtitle {
  color: #F47D27;
  font-size: 0.8rem;
  font-weight: 400;
}

.card-title,
.card-section-title {
  color: #2B283A;
}

.card-btns-container {
  display: flex;
  gap: 1.1rem;
}

.card-btn {
  align-items: center;
  border: 0.1em solid #D1D5DB;
  border-radius: 0.4em;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 0.875rem;
  gap: 0.65em;
  justify-content: center;
  padding: 0.5em 0;
  width: 8.2em;
}

.card-btn-icon {
  width: 1rem;
}

.card-linkedin-btn {
  background-color: #297FE5;
  border: 0.07em solid #297FE5;
  color: white;
  text-decoration: none;
}

.card-email-btn {
  background-color: white;
}

.card-section-title {
  font-size: 1rem;
  font-weight: 700;
}

.social-links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-link-icon {
  width: 1.526rem;
}
