* {
  box-sizing: border-box;
}

:root {
  font-size: 150%;
}

body {
  background-color: #23252C;
  display: flex;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

img,
svg {
  display: block;
  font-style: italic;
  height: auto;
  max-width: 100%;
}

.primary-container {
  padding-inline: 2rem;
}

.card {
  --border-radius: 1em;
  background-color: #F5F5F5;
  border-radius: var(--border-radius);
  color: #4A4E74;
  font-family: "Inter", sans-serif;
  font-size: 0.65rem;
  max-width: 30em;
}

.card-header {
  text-align: center;
}

.card-face {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 100%;
}

.card-title {
  font-size: 1.5265rem;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-title > .card-subtitle {
  color: #b95105;
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.075rem;
}

.card-website {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.card-title,
.card-section-title {
  color: #2B283A;
}

.card-section-title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.card-section-text {
  margin-top: 0;
  margin-bottom: 0.875rem;
}

.card-section:last-child {
  margin-bottom: 3rem;
}

.card-btns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
  justify-content: center;
  margin-bottom: 1.5625rem;
}

.card-btn {
  align-items: center;
  border: 0.1em solid #D1D5DB;
  border-radius: 0.4em;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 0.875rem;
  gap: 0.65em;
  justify-content: center;
  padding: 0.45em 0;
  width: 8.2em;
}

.card-btn:focus-visible,
.card-btn:hover {
  outline: 2px solid black;  
}

.card-btn-icon {
  width: 1rem;
}

.card-linkedin-btn {
  background-color: #297FE5;
  border: 0.1em solid #297FE5;
  color: white;
  text-decoration: none;
}

.card-email-btn {
  background-color: white;
}

.card-footer {
  align-items: center;
  background-color: #D5D4D8;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  height: 4rem;
  justify-content: center;
}

.card-social-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-social-link-icon {
  width: 1.526rem;
}

.github-info {
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  line-height: 1.4;
  margin: 2em 1em 1em;
  text-align: center;
}

.github-link {
  color: white;
}
